.theatre {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .theatre:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .theatre-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .theatre-info h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
  }
  
  .book-button{
    margin: auto;
    padding: 5px 10px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .book-button:hover {
    background-color: #0056b3;
  }
  